<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginswvlet</servlet-name>
    <servlet-class>com.sevlet.loginswvlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CgjrSevlet</servlet-name>
    <servlet-class>com.sevlet.CgjrSevlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JrServlet</servlet-name>
    <servlet-class>com.sevlet.JrServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SbSevlet</servlet-name>
    <servlet-class>com.sevlet.SbSevlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CgSevlet</servlet-name>
    <servlet-class>com.sevlet.CgSevlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LianjieSevlet</servlet-name>
    <servlet-class>com.sevlet.LianjieSevlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>loginswvlet</servlet-name>
    <url-pattern>/loginswvlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CgjrSevlet</servlet-name>
    <url-pattern>/CgjrSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JrServlet</servlet-name>
    <url-pattern>/servleta/JrServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SbSevlet</servlet-name>
    <url-pattern>/sb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CgSevlet</servlet-name>
    <url-pattern>/servlet/CgSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LianjieSevlet</servlet-name>
    <url-pattern>/LianjieSevlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
